name: CI

on:
  #push:
  #  branches:
  #    - main
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
    
  build:
    name: Build solution
    runs-on: VBox-3.1.4024
    steps:
      - name: Workflow information
        run: |
          echo "Triggered by $env:GITHUB_ACTOR"
          echo "Github Ref: $env:GITHUB_REF"
          echo "Owner and repo: $env:GITHUB_REPOSITORY"
          echo "Github workspace: $env:GITHUB_WORKSPACE"
         
      - name: checkout
        uses: actions/checkout@v4

      - name: tc3_build_action
        uses: AndyP01/tc3-twincat-build-action@v1
        with:
          solution-path: "${{ github.workspace }}/src/mobject-disposable-library/mobject-disposable.sln"
          target-net-id: '192.168.4.1.1.1'
          target-platform: 'TwinCAT RT (x64)'
          vs-shell: 'TcXaeShell.DTE.15.0'
          vs-silent: "$true"
   
