name: CI

on:
  push:
    branches:
      - main
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
    
  info:
    name: Workflow information
    runs-on: VBox-3.1.4024
    steps:
      - name: Display workflow information
        run: |
          Write-Host "Triggered by $env:GITHUB_ACTOR"
          Write-Host "Github Ref: $env:GITHUB_REF"
          Write-Host "Owner and repo: $env:GITHUB_REPOSITORY"
          
      - name: tc3_build_action_test
        uses: AndyP01/tc3-twincat-build-action@v7
        with:
          targetNetId: "192.168.4.1.1.1"
            
#  checkout:
#    name: Checkout project job
#    runs-on: VBox-3.1.4024
#    steps:
#      # Checks-out repository under $GITHUB_WORKSPACE, so job can access it
#      - name: Checking out project
#        uses: actions/checkout@v4
        
#  preBuild:
#    name: Pre-build job
#    needs: [checkout]
#    runs-on: VBox-3.1.4024
#    steps:
#      - name: Run pre-build script
#        run: ./scripts/pre-build-script.ps1
        
#  build:
#    name: Build job
#    needs: [preBuild]
#   runs-on: VBox-3.1.4024
#    steps:
#      - name: Run build script
#        run: ./scripts/build-script.ps1

#  postBuild:
#    name: Post-build job
#    needs: [build]
#    runs-on: VBox-3.1.4024
#    steps:
#      - name: Run post-build script
#        run: ./scripts/post-build-script.ps1
